{{> nav/nav-block}}

<div id="home">
  <div class="container">
    <h1 class="text-center">{{msg}}</h1>
    <div class="row">

      <div class="col-4" style="padding-top: 15px">
        <ul class="list-group list-group-flush">
          <li class="list-group-item ">
            <h2 class="card-title">Documents</h2>
          </li>
          {{#each doc}}
            {{#unless docCreated}}
              <li class="list-group-item">
                <button type="button" class="btn btn-link float-right addForm" data-docType="{{docType}}">
                  <i class="fas fa-plus"></i>
                </button> {{docType}}
              </li>
            {{/unless}}
          {{/each}}
        </ul>
        
        <div class="text-center" style="margin-top: 10px">
          <button type="button" class="btn btn-primary btn-block addForm" data-docType="Other">
            <i class="fas fa-plus"></i> Add Another Type
          </button> 
        </div>
      </div>

      <div class="col-8" style="padding-top: 15px">
        <div class="card" style="width: 40rem;">
          <img class="card-img-top" src="assets/images/documents.jpg" class="responsive" alt="documents image">
          <div class="card-body">
            <p class="card-title">Your Documents</p>
            <ul class="list-group list-group-flush">
              {{#each doc}}
                {{#if docCreated}}
                  <li class="list-group-item float-right"> {{docType}}
                    <button type="button" class="btn btn-link float-right" data-docTableId={{id}}>
                      <i class="far fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-link float-right trashForm" data-docTableId={{id}}>
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </li>
                {{/if}}
              {{/each}}
            </ul>
          </div>
        </div>
        <div>
          <p></p>
        </div>
        <div class="card" style="width: 40rem;">

          <img class="card-img-top" src="assets/images/family2.jpg" class="responsive" alt="family cap">
          <div class="card-body">
            <p class="card-title"> Your Family </p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"> Spouse </li>
              <li class="list-group-item"> Child 1 </li>
            </ul>
          </div>
        </div>



      </div>
      <ul id="document-list" class="list-group">
        {{#each documents}}
        <li data-id="{{this.id}}" class="list-group-item">
          <a href="document/{{this.id}}">{{this.text}}</a>

        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
</div>

{{> modal/formData}}

{{> modal/deleteModal}}

{{> modal/login-block}}


